html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: white;
  color: #222;
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
}

body.invertedColors {
  background-color: #222;
  color: white;
}
